bot:
    prefix: g!
    cogs:
        autoload:
            - basic
discord:
    api:
        token:
blizzard:
    api:
        id:
        secret:
db:
    host:
    port:
    user:
    password:
    schema: